<h3>simple-wm</h3>
<p>A dynamic window manager, heavily inspired on dwm.</p>
<p>The goal is provide the same experience of dwm, but with better code
(both in terms of performance and readability).</p>
<a href="https://github.com/miguelrcborges/simple-wm">Repo</a>

<br></br>
<br></br>

<h3>html2js</h3>
<p>A simple html to javascript compiler, which would be
considerably similar to frameworks that use JSX.</p>
<p>The goal is to provide a zero-cost abstraction
that automates elements generation, which can be
easily used with vanilla javascript.</p> 
<p>This site uses html2js to generate each section.</p>
<a href="https://github.com/miguelrcborges/html2js">Repo</a>
